a {
  text-decoration: none;
}

.object-cover {
  object-fit: cover;
}

.z-index-5 {
  z-index: 5;
}

.z-index-3 {
  z-index: 3;
}

.bg-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}