a {
  text-decoration: none;
  color: $primary-dark;
  &:hover{
    color: $primary;
  }
}

.object-cover {
  object-fit: cover;
}

.bg-shadow {
  box-shadow: 0 0 10px rgba($gray-600, .4);
}

.fw-medium {
  font-weight: 600;
}

.w-lg-35 {
  width: 100%;

  @media (min-width: 992px) {
    width: 35%;
  }
}

.w-lg-50 {
  width: 100%;
  @media (min-width: 992px) {
    width: 50%;
  }
}

.w-lg-65 {
  width: 100%;
  @media (min-width: 992px) {
    width: 65%;
  }
}

.z-index-5 {
  z-index: 5;
}

.z-index-3 {
  z-index: 3;
}

.bg-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-secondary-light {
  background-color: rgba($secondary, .5);
}

.bg-secondary-light2{
  background-color: #ECF1F6;
}

.bg-prds{
  max-width: 1536px;
  margin: 0 auto;
}

.category-btn{
  &:hover{
    background: rgba($primary, .6);
    color: $primary-dark;
  }
}

.category-active {
  background: rgba($primary, .6);
}

.circle{
  width: 48px;
  height: 48px;
  @media (min-width: 576px) {
    width: 64px;
    height: 64px;
  }
  @media (min-width: 992px) {
    width: 80px;
    height: 80px;
  }
}

.cartlist li{
  &::after{
    position: absolute;
    left: 0;
    bottom: -50%;
    color: $primary-dark;
    font-weight: 500;
    font-size: 12px;
    @media (min-width: 576px) {
      font-size: 16px;
    }
    @media (min-width: 992px) {
      font-size: 20px;
    }
  }
  &:first-child::after {
    content: "商品確認";
  }
  &:nth-child(2)::after{
    content: "填寫資訊";
  }
  &:nth-child(3)::after {
    content: "確認訂單";
  }
  &:last-child::after{
    content: "訂單完成";
  }
}

.cartNumIcon{
  top: -6px;
  right: -6px;
  font-size: 14px;
  padding: 2px 8px;
}

.point-none{
  cursor: none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link{
  background-color: $primary;
}

.nav-item-active {
  border-bottom: 1px solid $primary-dark;
}